doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="pragma" content="no-cache")
    meta(http-equiv="cache-control" content="no-cache")
    meta(http-equiv="expires" content="0")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="MobileOptimized" content="320")
    meta(name="HandheldFriendly" content="true")
    meta(name="keywords" content="电话交换机,企业即时通讯,融合通信,移动办公软件,工作宝,佳米科技,佳和通信")
    meta(name="description" content="工作宝，集融合通信、企业IM、协同办公于一体，致力于为企业提供智慧独特的移动通信解决方案，助力企业提高沟通效率，驱动业务发展，创造市场优势。")
    meta(name="version" content=VERSION)
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    script.
    block head
      title Document
  body
    block content
    block footer